* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.cube-map {
    width: 225px !important;
    position: fixed;
    left: 0;
    bottom: 10px;
}

.cube-map .col {
    max-width: 75px;
}

.cube-map canvas {
    width: 75px;
    height: 75px;
    display: block;
}

.front h2 {
    text-align: center;
}

.instructions {
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
    position: relative;
    margin-top: 30px;
}

.dg {
    z-index: 3 !important;
}